body{
	background: linear-gradient(to left, rgb(38, 104, 146), rgb(214, 97, 210));
	font-family: "Montserrat";
}
#color2,#color1{
	margin:3% 1%;
}
#centers>p{
	font-size: 4em;
	 margin-top: 4%;

}
h3{
	margin: 3% 3% ;
	
	font-size: 1.3em;

}

#centers{
	text-align: center;
}

#copie{
	margin-bottom:3%; 
	width: 55%;
	background:transparent;
	border:none;
	box-shadow:transparent;
	text-align: center;
	font-size: 1.5em;
	font-weight: lighter;
}
#copie:focus{
	font-size: 1.55em;
	width: 58%;
	outline: none;

	border-bottom:solid #ff7600 2px;
}
#copie::selection { background: #f7a494; }